.table thead.table-light tr th {
    background-color: #CBD054;
}

.table thead.table-light th {
    font-family: "Luxurious Roman", serif;
    font-size: 1.5rem;
    font-weight: 400;
}

.table .btn-group.btn-group-sm .learn-more-link {
    font-family: "Luxurious Roman", serif;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #AD9B15;
    font-weight: 500;
    cursor: pointer;
}

.table .btn-group.btn-group-sm .learn-more-link:hover {
  opacity: 0.8;
}

.table .btn-group.btn-group-sm .learn-more-link img {
  width: 8px;
  height: 20px;
  transition: transform 0.2s ease;
}

.table .btn-group.btn-group-sm .learn-more-link:hover img {
  transform: translateX(4px);
}
