{% load static %}

<link rel="stylesheet" href="{% static 'css/includes/header.css' %}">

<img class="language" src="{% static 'img/language.png' %}">
<header class="site-header">
    <div class="header-top">
        <div class="header-brown"></div>
        <div class="header-green"></div>
    </div>

    <div class="header-bottom container">
        <div class="header-box">
            <h1 class="header-title">{{ pageTitle }}</h1>

            <!-- Navigation container with decorative elements -->
            <div class="nav-container">
                <img class="leafs1" src="{% static 'img/leafs1.png' %}">
                <nav class="main-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/articles/">Articles</a></li>
                        <li><a href="#" style="color: gray;">Cases</a></li>
                        <li><a href="/contact/">Contact</a></li>
                        <li><a href="/admin/">Admin</a></li>
                    </ul>
                </nav>
                <img class="leafs2" src="{% static 'img/leafs2.png' %}">
            </div>
        </div>
    </div>
</header>

<script src="{% static 'js/includes/header.js' %}"></script>
