.container {
  position: relative;
}

/* Base Newspaper Styling */
.newspaper-header {
  border-bottom: 1px solid #000;
}

.newspaper-title {
  font-family: "Kelly Slab", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  margin: -1rem 0 0.4rem;
  letter-spacing: 1px;
}

.newspaper-subhead {
  font-family: "Luxurious Roman", serif;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  color: #D5D3C3;
}

.newspaper-sub-title {
  font-family: "Kelly Slab", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 26px;
}

.newspaper-sub-subhead {
  font-family: "Luxurious Roman", serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1rem;
  color: #000;
}

.newspaper-date {
  font-family: "Kelly Slab", sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0;
}

.newspaper-subheader {
  font-family: "Kelly Slab", sans-serif;
  font-size: 0.9rem;
}

.newspaper-article {
  break-inside: avoid;
  margin-top: 50px;
  margin-bottom: 2rem;
}

.article-headline {
  font-family: "Kelly Slab", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.2;
}

.article-subhead {
  font-family: "Luxurious Roman", serif;
  font-size: 1.1rem;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 1rem;
  color: #444;
}

.article-body {
  font-family: "Kelly Slab", sans-serif;
  font-size: 1rem;
  text-align: justify;
  hyphens: auto;
  margin-top: 20px;
}

.article-body p {
  max-width: 520px;
  z-index: 2;
  margin: 0 0 1rem;
  color: #000000BF;
}

.bg-logo {
  z-index: 1;
  opacity: 26%;
  width: 412px;
  height: 412px;
  position: absolute;
  right: -130px;
}

.newspaper-footer {
  font-family: "Kelly Slab", sans-serif;
  font-size: 0.8rem;
  border-top: 1px solid #000;
  padding-top: 1rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .newspaper-content {
    column-count: 1;
  }

  .newspaper-title {
    font-size: 2rem;
  }
}

@media (max-width: 1200px) {
  .bg-logo {
      right: 0;
    }
}

.newspaper-article {
  display: flex;
  justify-content: space-between;
}

.newspaper-article-card {
  width: 211px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This pushes content to top and bottom */
}

.read-more {
  text-decoration: none;
}

.article-title {
  font-family: "Anton", sans-serif;
  font-size: 15px;
  color: #000;
  margin: 0; /* Remove default margins */
}

.article-date {
  font-family: "Abel", sans-serif;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.75);
  margin-top: auto; /* Pushes date to bottom */
}

.interesting {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.block-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.interesting {
  font-family: "Abel", sans-serif;
}

.interesting .block-1 h2 {
  font-size: 40px;
}

.interesting .block-2 h2 {
  font-size: 20px;
}
