{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage/home.css' %}">

<div class="text-blocks-container">
  <h1 class="title-abril">A report to the United Nations on egregious human rights violations in Slovenia and inhumane treatment in the healthcare system.</h1>
  <p class="paragraph-abel">
    In Slovenia, where the shadow of nationalist convictions obscures justice, foreign citizens
become unprotected targets for arbitrary action. Law enforcement agencies and prosecutors,
disregarding Articles 1, 2, 5 and 7 of the UN Universal Declaration of Human Rights (1948),
flagrantly violate the rights guaranteed to everyone. Falsification of reports, abuse of
authority, and violation of jurisdiction are among the tools used to avoid bringing criminal
cases against Slovenian citizens who commit crimes against foreigners.
Medical institutions have become arenas for inhumane treatment of patients. Complaints go
unheard, treatment does not meet international standards, and medications that have not undergone proper clinical trials are administered without the consent of patients, turning them
into unwitting test subjects. This report is based on the facts of the terrible violation of the
rights of our member, Oleg Korob, Deputy President of the public organization for the
protection of human rights RDE. His story is only the tip of the iceberg, reflecting the
systematic infringement of the rights of foreign citizens in Slovenia, where the search for
justice becomes a hopeless endeavor.
We present facts demonstrating legal lawlessness...
    <a href="#" class="learn-more-link">click to learn <img src="{% static 'img/scroll-arrow-right.png' %}"></a>
  </p>
</div>

{% endblock %}