{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/homepage/home.css' %}">

<!-- templates/includes/text_blocks.html -->
<div class="text-blocks-container">
  <!-- Desktop Layout -->
  <div class="text-blocks-desktop">
    <div class="left-block">
      <h2 class="block-title left-title">What are Slovenian cops doing during their free time?</h2>
      <p class="block-text">Best donuts are sold in America meanwhile, in Italy the only alternative is "Coffee|Joint"
        which would be great. However cops prefer to avoid that place because of its nominative. It triggers jealousy as
        their farewell to a happy future.</p>
    </div>
    <div class="right-blocks">
      <div class="right-block top">
        <h2 class="block-title">Why Slovenian police exists if it has no use?</h2>
        <p class="block-text">This question is less philosophical then practical. Even though useless things such as
          slime, Tick-tock, Us dollar exist they still bring somewhat profit. Meanwhile Slovenian police brings only
          donuts to their station.</p>
      </div>
      <div class="right-block bottom">
        <h2 class="block-title">Police in Nova Gorica are not payed enough</h2>
        <p class="block-text">They have to steal from poor citizens. Well if they did not have enough money they could
          just ask...</p>
      </div>
    </div>
  </div>

  <!-- Mobile Layout -->
  <div class="text-blocks-mobile">
    <div class="mobile-block">
      <h2 class="block-title left-title">What are Slovenian cops doing during their free time?</h2>
      <p class="block-text">Best donuts are sold in America meanwhile, in Italy the only alternative is "Coffee|Joint"
        which would be great. However cops prefer to avoid that place because of its nominative. It triggers jealousy as
        their farewell to a happy future.</p>
    </div>
    <div class="mobile-block">
      <h2 class="block-title">Why Slovenian police exists if it has no use?</h2>
      <p class="block-text">This question is less philosophical then practical. Even though useless things such as
        slime, Tick-tock, Us dollar exist they still bring somewhat profit. Meanwhile Slovenian police brings only
        donuts to their station.</p>
    </div>
    <div class="mobile-block">
      <h2 class="block-title">Police in Nova Gorica are not payed enough</h2>
      <p class="block-text">They have to steal from poor citizens. Well if they did not have enough money they could
        just ask...</p>
    </div>
  </div>
</div>

{% endblock %}